<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pranabbaidya;AccountKey=n+8bf7OSPP2v42jWPH/5jGmoEQeAv6pWI0224AjSzsVKum+HNIHuDW4SuaJ83rXcBgLGufp1yyqffGmca4N8sw==" />
  </appSettings>
</configuration>